<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Real-Time Products</title>
</head>

<body>
    <h1>Product List (Real-Time)</h1>
    <ul id="product-list">
        {{#each products}}
        <li>{{this.title}} - ${{this.price}}</li>
        {{/each}}
    </ul>

    <h2>Agregar Producto</h2>
    <input type="text" id="title" placeholder="Título" required>
    <input type="text" id="description" placeholder="Description" required>
    <input type="text" id="code" placeholder="Code" required>
    <input type="number" id="price" placeholder="Precio" required>
    <input type="number" id="stock" placeholder="Stock" required>
    <input type="text" id="category" placeholder="Category" required>
    <button onclick="agregarProducto()">Agregar Producto</button>

    <h2>Eliminar Producto</h2>
    <input type="number" id="deleteId" placeholder="ID del producto" required>
    <button onclick="eliminarProducto()">Eliminar Producto</button>

    <h2>Modificar Producto</h2>
    <input type="number" id="updateId" placeholder="ID del producto" required>
    <input type="text" id="newTitle" placeholder="Nuevo título">
    <input type="number" id="newPrice" placeholder="Nuevo precio">
    <input type="number" id="newStock" placeholder="Nuevo stock">
    <button onclick="modificarProducto()">Modificar Producto</button>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/realtime.js"></script>

</body>

</html>